@import "../colors";

.signIn {
  background-color: $violet;

  height: 100vh;
  width: 100vw;

  .signInWindow {
    padding: 20px 5px;
    max-width: 350px;
    margin: 0px auto;

    .title {
      margin-bottom: 120px;
      text-align: center;
    }

    .inputs {
      display: flex;
      flex-direction: column;

      gap: 10px;
    }

    .btns {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
    }
  }
}
