@import "../../app/colors";

.addComment {
  position: relative;
  width: 100%;

  textarea {
    display: block;
    width: 100%;
    min-height: 30px;
    max-height: 68px;
    // border-bottom: 1px solid black;

    padding: 5px 70px 5px 0px;
  }

  textarea {
    overflow: auto;
    scrollbar-width: none; /* Для Firefox */
    -ms-overflow-style: none; /* Для IE и Edge */
  }

  textarea::-webkit-scrollbar {
    display: none; /* Для Webkit (Chrome, Safari) */
  }

  button {
    color: $violet;
    font-weight: 700;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
}
