@import "../../app/colors";
@import "../../app/brake-point";
.nav {
  background-color: $violet;

  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: $white;
    }

    .btns {
      display: flex;
      gap: 20px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    nav {
      .btns button:first-child {
        display: none;
      }
    }
  }
}
